<!DOCTYPE html>
<html lang="es">
<head>
	<title>Colombia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="../web/css/bootstrap.css">
	<script type="text/javascript" src="../web/js/bootstrap.js"></script>
	<script type="text/javascript" src="../web/js/jquery.js"></script>
</head>
<body class="p-3 mb-2 bg-info">
	<br>
	<div class="container">
		<div class="jumbotron">
			<label class="display-4">¡BIENVENIDO!</label>
		</div>
		<div class="row">	
			<div class="col-md-12">
				<label><h3>Seleccione Modulo</h3></label>
			</div>
			<div class="col-md-3">
				<br>
				<a href="departamento/consultar.php">
					<button type="button" class="btn btn-secondary">Departamento</button>
				</a>
			</div>
			<div class="col-md-3">
				<br>
				<a href="ciudad/consultar_ciudad.php">
					<button type="button" class="btn btn-secondary">Ciudad</button>
				</a>
			</div>			
		</div><BR>
		<img src="col.jpg" style="width: 1300px; height: 350px;" class="img-fluid" alt="Responsive image">
	</div>
</body>
</html>